.Header {
    position: relative;
    background: url(../assets/background1.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100% !important;
    height: 912px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BottomRightShape {
    position: absolute;
    box-sizing: border-box;
    background: url(../assets/Bottom-Right-Shape.png) no-repeat top left;
    background-size: cover;
    bottom: 0;
    right: 0;
    width: 24vw;
    height: 24vw;
}

.TopLeftShape {

    position: absolute;
    top: 0;
    left: 0;
    background: url(../assets/Top-Left-Shape.png) no-repeat top left;
    background-size: cover;
    width: 363px;
    height: 360px;
}

.NavBar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    padding-top: 3%;
}

.Logo {
    left: 0;
}

.Menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: end;
    left: 0;
}

.MenuList {
    display: flex;
}

.Menu a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 8px 20px;
    display: flex;
    align-items: center;
}

.Menu .MenuList a:hover {
    color: #FA9F3C;
}

.Menu .HomeBtn {
    color: #FA9F3C;
}

.ContactBox {
    display: flex;
    align-items: center;
}

.NavBtn {
    background-color: #FA9F3C;
    border-radius: 30px;

    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.NavBtn:hover {
    background-color: #2880FC;
    transform: translateY(-8px);
}

.NavBtn a {
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 18px;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactSec {
    display: flex;
    padding: 0 0 0 40px;
}

.ContactIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
    border: 1px solid gray;
    border-radius: 40px;
}

.ContactIcon:hover {
    background-color: #2880FC;
    border-color: #2880FC;
}

.ContactPhone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.ContactPhone span {
    font-size: 16px;
    color: white;
}

.ContactPhone .Span2 {
    font-size: 22px;
    font-weight: 700;
}

.Banner {
    position: relative;
    width: 1010px;
    height: 435px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.BannerLink {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: -90px;
}

.Link {
    color: #FFFFFF;
}

.BannerLink a {
    border: 1px solid #FFFFFF;
    padding: 2px;
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.BannerLink a:hover {
    background-color: #FA9F3C;
    transform: translateY(-8px);
}

.BannerContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Curve {
    position: absolute;
    z-index: -1;
    background: url(../assets/Curve-shape.png);
    background-size: cover;
    width: 89px;
    height: 88px;
    top: -15px;
    left: -15px;
}
.BannerContent {
    color: #FFFFFF;
}

.BannerContent h1 {
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 80px;
    line-height: 82px;
    font-weight: 700;
    margin-bottom: 14px;
}

.BannerContent p {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-size: 20px;
}

.BannerBtn{
    display: flex;
}

.BannerBtn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerBtn div:hover{
    border-color: #2880FC;
    background-color: #2880FC;
    transform: translateY(-8px);
}

.NavBtn1 {
    background-color: #FA9F3C;
    border-radius: 30px;
    margin-right: 10px;

    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.NavBtn2 {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;

    transition-duration: .4s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

/* @media screen and (max-width: 1200px) {
    .Header{
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ContactBox {
        display: none
    }

    .NavBar {
        display: flex;
        justify-content: space-between;
    }

    .Menu {
        display: flex;
        justify-content: end;
    }

    .BannerContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .BannerContent h1{
        font-size: 30px;
    }
} */